html {
  overflow: hidden; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans",sans-serif !important; }

/*********************
 Outer flexbox: #outer-container contains entire page 
 contents are top-to-bottom "column" flexbox as follows:
   #top-bar - top bar w/ title
   #nav-bar - navigation tabs
   #inner-container - holds content for sidebar, chart pane, sidebar
*********************/
#outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  /*****
      Navbar flexbox: #nav-bar contains navigation tabs
      contents use default left-to-right "row" flexbox
    *****/
  /*****
        Inner container flexbox for "map view": #inner-container contains 3 panes
        contents use left-to-right "row" flexbox
    *****/ }
  #outer-container #top-bar {
    height: 35px;
    padding-left: 10px;
    background-color: #3B3F51;
    color: white; }
    #outer-container #top-bar div {
      display: inline-block; }
    #outer-container #top-bar div.title {
      font-weight: 400;
      font-size: 24px; }
    #outer-container #top-bar div.info-box {
      font-size: 20px;
      font-weight: 400;
      margin-left: 20px; }
  #outer-container #nav-bar {
    padding-left: 10px;
    height: 35px;
    background-color: #e9ecf3;
    color: #3B3F51;
    text-align: center;
    border-bottom: 1px solid #ddd; }
    #outer-container #nav-bar .status-header {
      font-weight: 400;
      font-size: 20px;
      padding: 3px; }
  #outer-container #inner-container {
    max-height: calc(100% - 70px);
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch; }
    #outer-container #inner-container > .sidebar {
      min-width: 300px;
      width: 300px;
      background: #e9ecf3;
      color: #333;
      padding: 15px;
      overflow: auto; }
    #outer-container #inner-container > #chart-container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column; }
      #outer-container #inner-container > #chart-container #toolbar {
        padding: 5px; }
      #outer-container #inner-container > #chart-container #myChart {
        flex: 1;
        align-self: center; }
      #outer-container #inner-container > #chart-container #stats-container {
        padding: 5px 30px; }
    #outer-container #inner-container > .left-sidebar {
      border-right: 1px solid #d9dce3; }
    #outer-container #inner-container > .right-sidebar {
      border-left: 1px solid #d9dce3; }
    #outer-container #inner-container .collapser {
      margin: -15px -15px 10px -15px;
      width: 299px;
      text-align: center;
      color: #aeb2c4;
      background-color: #3B3F51;
      cursor: pointer;
      padding: 2px;
      opacity: 0.7; }
    #outer-container #inner-container .collapser:hover {
      opacity: 1; }
    #outer-container #inner-container > .sidebar.collapsed {
      width: 20px;
      max-width: 20px;
      min-width: 20px;
      text-align: center;
      color: #aeb2c4;
      background-color: #3B3F51;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0.7; }
    #outer-container #inner-container > .sidebar.collapsed:hover {
      opacity: 1; }

.control-panel > ul.control-panel-section {
  padding: 3px;
  border: 1px solid #ddd;
  list-style: none;
  margin-top: 25px;
  font-size: 15px; }
  .control-panel > ul.control-panel-section label {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 6px; }
  .control-panel > ul.control-panel-section > li.section-header {
    margin-top: -15px; }
    .control-panel > ul.control-panel-section > li.section-header > span {
      background: #e9ecf3;
      color: #888;
      font-size: 15px;
      padding: 0 4px;
      font-weight: bold; }
  .control-panel > ul.control-panel-section .subsection-grouping {
    margin-left: 12px;
    margin-bottom: 6px; }
    .control-panel > ul.control-panel-section .subsection-grouping label {
      font-weight: normal;
      font-size: small; }

.event-edit-form input[type="number"] {
  -moz-appearance: textfield;
  text-align: right; }

.event-edit-form input[type="number"]::-webkit-outer-spin-button,
.event-edit-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#stats-container tr.row-disabled {
  background-color: lightgray;
  color: gray; }

.event-list {
  overflow-y: auto;
  max-height: 100%; }
  .event-list .event-cp {
    margin-bottom: 10px; }
  .event-list .panel-heading {
    cursor: pointer;
    display: flex;
    align-items: center; }
    .event-list .panel-heading span.index {
      font-size: 200%;
      margin-right: 15px;
      padding: 1px 5px;
      color: white;
      background: black;
      border-radius: 8px; }
    .event-list .panel-heading div.title {
      flex: 1; }
