<div class="row">
    
    <div class="col-md-4">
        <div class="form-group">
            <label>Year</label>
            <div class="input-group">
                <div class="input-group-btn" uib-dropdown>
                    <button class="btn btn-default" uib-dropdown-toggle>{{date.era}}</button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href ng-click="setAD()">AD</a></li>
                        <li><a href ng-click="setBC()">BC</a></li>
                    </ul>
                </div>
                <input type="number" class="form-control" ng-model="date.year">
                <!--<div class="input-group-addon" ng-show="date.era === 'AD'">.0</div>-->
                <div class="input-group-btn" uib-dropdown ng-show="date.era === 'BC'">
                    <button class="btn btn-default" uib-dropdown-toggle>{{date.multiplier.suffix}} <i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="m in multipliers"><a href ng-click="date.multiplier = m">{{m.label}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" ng-hide="date.era === 'BC'">
        <div class="form-group">
            <label>Month</label>
            <select class="form-control" ng-options="m.number as m.label for m in months" ng-model="date.month"></select>
        </div>
    </div>
    <div class="col-md-2" ng-hide="date.era === 'BC'">
        <div class="form-group">
            <label>Day</label>
            <input type="number" class="form-control" ng-model="date.day">
        </div>
    </div>
</div>